<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="font-family: 'Roboto', sans-serif; background-color:#F2F1F0; padding: 10%;"
  >
    <h1 style="font-family: 'EB Garamond', serif; margin-bottom: 10px;">
      Matterbase
    </h1>
    <div style="background-color:#FFFFFF; padding: 5%;">
      <h5 style="margin-bottom: 20px;">One last step...</h5>
      <a href={{url}} target="_blank" style="color: inherit; text-decoration: none;">
        <div style="background-color:#D1BB93; width: 300px; padding: 1px; margin-bottom: 20px; border-radius: 5px;">
          <h2 style="text-align: center;">Yes, subscribe me to the list</h2>
        </div>
      </a>
      <div style="margin-bottom: 20px;">In order to receive our emails, you just need to confirm your subscription - please click on the link above to be added to our mailing list. Once you are added you will receive your confirmation email shortly followed by your first welcome email.</div>
      <div style="margin-bottom: 30px;">
        We can’t wait to share with you the latest news on materials, furniture and light products, design events and other awesome stuff.
      </div>
      <div style="margin-bottom: 30px;">The Matterbase team.</div>
      <div>If you received this email by mistake, please delete this email and you won’t be subscribed if you don’t click the confirmation link above.</div>
      <div style="margin-bottom: 20px;">For questions about this list, please contact:</div>
      <div style="margin-bottom: 20px;">
        <a href="mailto:info@matterbase.com" style="color: inherit; text-decoration: none;">
          info@matterbase.com
        </a>
      </div>
    </div>
  </body>
</html>